In [43]:
import pandas as pd
import numpy as np

dating_info = pd.read_csv('Speed Dating Data.csv', encoding = "ISO-8859-1")
data = dating_info[['iid', 'pid', 'match', 'race', 'age', 'gender', 'field_cd', 'career_c']]
field_codes = {1: 'Law', 2: 'Math', 3: 'Social Science, Psychologist', 4: 'Medical Science', 5: 'Engineering',
               6: 'English/Creative Writing/Journalism', 7: 'History/Religion/Philosophy', 8: 'Business/Econ/Fiance', 
               9: 'Education, Academia', 10: 'Biological Sciences/Chemistry/Physics', 11: 'Social Work', 12:'Undergrad/Undecided',
               13: 'Political Science/International Affairs', 14: 'Film', 15: 'Fine Arts/Arts Administration',16: 'Languages',
               17: 'Architecture',18: 'Other'}
career_codes = {1:'Lawyer',2:'Academic/Research',3:'Psychologist',4:'Doctor/Medicine',5:'Engineer',6:'Creative Arts/Entertainment',
               7:'Banking/Consulting/Finance',8:'Real Estate',9:'International/Humanitarian Affairs',10:'Undecided',
               11:'Social Work',12:'Speech Pathology',13:'Politics',14:'Pro sports/Athletics',15:'Other',16:'Journalism',
               17:'Architecture'}
gender_codes = {0:'female',1:'male'}
data

      iid    pid  match  race   age  gender  field_cd  career_c
0       1   11.0      0   4.0  21.0       0       1.0       NaN
1       1   12.0      0   4.0  21.0       0       1.0       NaN
2       1   13.0      1   4.0  21.0       0       1.0       NaN
3       1   14.0      1   4.0  21.0       0       1.0       NaN
4       1   15.0      1   4.0  21.0       0       1.0       NaN
5       1   16.0      0   4.0  21.0       0       1.0       NaN
6       1   17.0      0   4.0  21.0       0       1.0       NaN
7       1   18.0      0   4.0  21.0       0       1.0       NaN
8       1   19.0      1   4.0  21.0       0       1.0       NaN
9       1   20.0      0   4.0  21.0       0       1.0       NaN
10      2   11.0      0   2.0  24.0       0       1.0       NaN
11      2   12.0      0   2.0  24.0       0       1.0       NaN
12      2   13.0      0   2.0  24.0       0       1.0       NaN
13      2   14.0      1   2.0  24.0       0       1.0       NaN
14      2   15.0      0   2.0  24.0       0       1.0       NaN
15      2   16.0      0   2.0  24.0       0       1.0       NaN
16      2   17.0      0   2.0  24.0       0       1.0       NaN
17      2   18.0      0   2.0  24.0       0       1.0       NaN
18      2   19.0      1   2.0  24.0       0       1.0       NaN
19      2   20.0      0   2.0  24.0       0       1.0       NaN
20      3   11.0      0   2.0  25.0       0       2.0       NaN
21      3   12.0      0   2.0  25.0       0       2.0       NaN
22      3   13.0      0   2.0  25.0       0       2.0       NaN
23      3   14.0      0   2.0  25.0       0       2.0       NaN
24      3   15.0      0   2.0  25.0       0       2.0       NaN
25      3   16.0      0   2.0  25.0       0       2.0       NaN
26      3   17.0      0   2.0  25.0       0       2.0       NaN
27      3   18.0      0   2.0  25.0       0       2.0       NaN
28      3   19.0      0   2.0  25.0       0       2.0       NaN
29      3   20.0      0   2.0  25.0       0       2.0       NaN
...   ...    ...    ...   ...   ...     ...       ...       ...
8348  551  523.0      0   1.0  27.0       1       8.0       7.0
8349  551  524.0      0   1.0  27.0       1       8.0       7.0
8350  551  525.0      0   1.0  27.0       1       8.0       7.0
8351  551  526.0      0   1.0  27.0       1       8.0       7.0
8352  551  527.0      0   1.0  27.0       1       8.0       7.0
8353  551  528.0      0   1.0  27.0       1       8.0       7.0
8354  551  529.0      0   1.0  27.0       1       8.0       7.0
8355  551  530.0      0   1.0  27.0       1       8.0       7.0
8356  552  509.0      1   2.0  25.0       1      18.0      15.0
8357  552  510.0      1   2.0  25.0       1      18.0      15.0
8358  552  511.0      0   2.0  25.0       1      18.0      15.0
8359  552  512.0      0   2.0  25.0       1      18.0      15.0
8360  552  513.0      1   2.0  25.0       1      18.0      15.0
8361  552  514.0      0   2.0  25.0       1      18.0      15.0
8362  552  515.0      1   2.0  25.0       1      18.0      15.0
8363  552  516.0      1   2.0  25.0       1      18.0      15.0
8364  552  517.0      0   2.0  25.0       1      18.0      15.0
8365  552  518.0      0   2.0  25.0       1      18.0      15.0
8366  552  519.0      0   2.0  25.0       1      18.0      15.0
8367  552  520.0      0   2.0  25.0       1      18.0      15.0
8368  552  521.0      0   2.0  25.0       1      18.0      15.0
8369  552  522.0      0   2.0  25.0       1      18.0      15.0
8370  552  523.0      0   2.0  25.0       1      18.0      15.0
8371  552  524.0      1   2.0  25.0       1      18.0      15.0
8372  552  525.0      0   2.0  25.0       1      18.0      15.0
8373  552  526.0      0   2.0  25.0       1      18.0      15.0
8374  552  527.0      0   2.0  25.0       1      18.0      15.0
8375  552  528.0      0   2.0  25.0       1      18.0      15.0
8376  552  529.0      0   2.0  25.0       1      18.0      15.0
8377  552  530.0      0   2.0  25.0       1      18.0      15.0

[8378 rows x 8 columns]